* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    background: url('SRI\ GURU\ \ bggggg.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 1px; 
}

header {
    position: relative; 
    width: 100%;
}
h1{
    top: 10px;
    text-align: center;
    font-size: 60px;
    color:rgb(248, 243, 243);
    font-family: 'Courier New', Courier, monospace;
}

.logo-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 170px; 
    margin: 5px; 
    
     
}

.navbar {
    margin-right: 100px;
    background-color:transparent;
    margin-top: 20px;
    margin-left: 140px;
    height: 45px;
    width: 90.5%;
    border: px solid rgb(185, 178, 178);

    
    
    }
    .navbar .container {
         display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px ;
        padding: 0;
        max-width: 1100px;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
    
    .navbar .nav-links {
        list-style: none;
        display: flex;
        font-size: 4px;
        margin-right: 20px;
        padding: 0px;
    }
    
    
        .navbar .nav-links li {
            margin: 0 3px;
            font-size: 10px;
            border: 2px solid white; 
            padding: 0 1px 0;
          width: 250px;
            border-radius: 10px; 
            text-align: center;
            background-color: rgb(2, 2, 2);
        }
        
        
       
    
    
    .navbar .nav-links a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        
    }
    
    .navbar .nav-links a:hover {
       
        color: red;
    }

    .index-container{
        margin: 50px;
        width: 70%;
        height: 450px;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
    }
    .index-container img{
        width: 15%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        border: 2px solid rgb(234, 225, 225);
        transition: all ease-in-out 0.5s;
        
    }

    .index-container img:hover {
        width: 30%;
    }

    .about-us img{
        width: 1517px;
        height: 700px;
        
    }
.information {
    
    background-image: url(SRI\ GURU\ \ jfhdjfsh.png);
    width: 1500px;
}
    .information h1{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
    }
    .information p{
        font-size: 20px;
        color: rgb(255, 217, 0);
        margin:  30px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .BS {
        position: relative;
        background-image: url(SRI\ GURU\ best\ selllerrrr.png);
        width: 1515px;
        height: 700px;
        display: flex;
        background-size: cover;
        text-align: left;
        
    }
    
    .BS h1{
        margin:  170px 0;
        padding: 0 60px;
        font-size: 70px;
        font-family: 'Courier New', Courier, monospace;
    }


    .BS h2{
        
            position: absolute;
            margin: 340px 0; 
            left: 80px;    
            color: rgb(255, 3, 3);
            font-size: 40px;
            padding: 30px 0;
            font-family: 'Courier New', Courier, monospace;

    }

    .BS p{
        position: absolute;
        font-size: 20px;
        color: rgb(255, 213, 0);
        margin: 450px 0;
        left: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        .about-us{
            background-image: url(SRI\ GURU\ about\ usss.png);
            width: 1500px;
            height: 700px;
            background-size: cover;
            
        }
        .about-us h1{
            margin-top:  270px;
        margin-left: 620px;
        white-space: nowrap;
        font-family: 'Courier New', Courier, monospace;
        
        }

        .about-us P{
            margin-top: 40px;
           margin-left: 900px;
            font-size: 18px;
            color: rgb(255, 230, 0);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


        .feedback {
            background-image: url(SRI\ GURU\ feedback\ bg.png);
            width: 1500px;
            height: 700px;
            background-size: cover;
            background-position: center;
            text-align: left;
            padding-left: 60px; 
            box-sizing: border-box;
            color: white;
        }
        
        .feedback h1 {
            font-size: 17px; 
            font-family: 'Courier New', Courier, monospace;
            margin: 2px 0;
            padding: 0; 
            color: white;
            text-align: left; 
            
        }
        
        .feedback p {
            font-size: 14px;
            line-height: 1.5; 
            margin-top: 20px; 
            color: rgb(255, 238, 0);
            text-align: left; 
        }
        .feedback h2{
            margin-top: 90px ;
            font-size: 35px;
            font-family: 'Courier New', Courier, monospace;
            
        }
        