
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    background: url('bgg.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 1px; 
}

header {
    position: relative; 
    width: 100%;
}
h1{
    top: 10px;
    text-align: center;
    font-size: 60px;
    color:rgb(255, 255, 255);
}
img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 170px; 
    margin: 5px; 
    
     
}

.navbar {
margin-right: 10px;
background-color:rgb(63, 60, 60);
margin-top: 20px;
margin-left: 140px;
height: 50px;
width: 63.5%;
border: px solid rgb(185, 178, 178);

}
.navbar .container {
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin: px ;
    padding: 0;
    max-width: 1000px;
    height: 100%;
    

}

.navbar .nav-links {
    list-style: none;
    display: flex;
    font-size: 4px;
    margin-right: 20px;
    padding: 0px;
}

.navbar .nav-links li {
    margin: 0 50px;
    font-size: 0px;
    
   
}

.navbar .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    
}

.navbar .nav-links a:hover {
    
    color: red;
}


.wrapper {
    width: 400px;
    height: auto;
    background: rgb(43, 40, 40);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin: 90px;
    left: 0;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc3c3;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(249, 249, 249, 0.662);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 0 45px 0 20px;
}

.input-box::placeholder {
    color: aliceblue;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .button {
    text-align: center;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #333;
    color: aliceblue; 
    cursor: pointer; 
}

.wrapper .remember {
    font-size: 14px;
    margin: -15px 0 15px;
    color: aliceblue;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.forgot {
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
}
